.modal {
  position: fixed;
  left: 50%;
  top: 100px;
  transform: translateX(-50%);
  z-index: 99;
  &__content {
    width: 420px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 12px 24px 0 rgba(0, 0, 0, 0.2);
    animation: slide-up 0.3s;
    animation-fill-mode: forwards;
  }
  &__close {
    font-weight: 500;
    font-size: 24px;
    position: absolute;
    top: 14px;
    right: 14px;
    cursor: pointer;
    z-index: 1;
  }
  &__section {
    padding: 22px 29px;
  }
  &__title {
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 31px;
  }
}

#modal-backdrop {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  &.active {
    display: block;
    animation: fade-in 0.3s;
    animation-fill-mode: forwards;
  }
}

