/* ============ Fonts ============ */
$font-base: 'futurabt', sans-serif;

/* ============ Colors ============ */
$white: #ffffff;
$gray: #f5f5f5;
$gray-1: #dddddd;
$gray-2: #999999;
$purple: #a532e6;
$black: #000000;
$black-lighter: #1e1e1e;
$black-lighter-1: #3a3a3a;
$red: #c82b2b;
$green: #32cb9e;

/* ============ Settings ============ */
$image-path: '~src/assets/images/';
$font-path: '~src/assets/fonts/';

$theme-colors: (
  // "primary":    $blue,
  "success":    $success,
  // "secondary":  $black-lighter,
  // "info":       $sky,
  // "warning":    $orange,
  "danger":     $red,
  // "light":      $grey,
  // "dark":       $black,
  "purple":       $purple,
  "gray":  $gray-2,
);
